<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="icon" type="image/ico" href="http://icons.iconarchive.com/icons/vexels/office/512/notepad-icon.png" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css" rel="stylesheet">
        <link href="/stylesheets/app.css" type="text/css" rel="stylesheet">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container ">
                <div class="header item"><i class="book icon"></i>SSK-DSK Blogapp</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
                               <form action="/blogs" method="GET" class="item">
                                      <div class="ui action input">
        <input type="text" name="search" placeholder="Search..." >
        <button class="ui button">Search</button>
       </div>
       </form>
       
       
           <%    if(!currentUser){ %>
                <a href="/login" class="item">Login</a>
                <a href="/forgot" class="item">Forgot Password?</a>
                <a href="/register" class="item">Register</a>
                  
                <%    } else { %>
                    <a class="item" href="/users/<%= currentUser.id %>"%>"><%= currentUser.username %></a>
                                    <a href="/logout" class="item">Logout</a>
                                  
                <%    }  %>
                
                
            </div>
        </div>
        <div class="ui container main" >
           <% if(error && error.length>0){ %>
           <div class="ui red message">
        <p><%= error %></p>
        </div>
        <% } %>
        <% if(success && success.length>0){ %>
                <div class="ui green message">
            <p><%= success %></p>
        </div>
        <% } %>
        </div>
