 <% include ./partials/header %>

<div class="ui main text container segment" style="width:25%">
    <div class="ui huge header">Login</div>
<form action="/login" method="POST" class="ui form">
    <div class="field">
        <label>Username</label>
        <input type="text" placeholder="username" name="username" required autofocus>
    </div>
    <div class="field">
        <label>Password</label>
    <input type="password" placeholder="password" name="password" id="myInput">
    <input type="checkbox" onclick="myFunction()">Show Password 
    </div>
    <div class="field g-recaptcha" data-sitekey="6LdKrY0UAAAAAB9Na8Jg_TMNYoZOH1y8CVkZlTZD">
        
    </div>
    <input type="submit" value="Login" class="ui big green inverted button" autofocus required>
</form>
</div>
<% include ./partials/footer %>