.container.main {
    margin-top: 3.2em; 
}
i.icon{
  font-size: 2em;  
}
i.search{
  font-size: 1.2em;  
}
i.eye{
  font-size: 1.2em;  
}
#delete{
    display:inline;
}
p{
    line-height: 1.8;
     padding: 5px;
     word-spacing: 4px;
     font-size: 18px;
     text-align: justify;
     white-space: pre-wrap;
     
     /*overflow-wrap: break-word;*/
}
.description{
    padding: 8px;
    text-align: justify;
     word-spacing: 4px;
     font-size:18px;
     overflow-wrap: break-word;
     /*white-space: pre-wrap;*/
}
.comments{
    overflow: hidden;
}
.comment{
    font-size: 18px;
}
input:invalid {
    border:1px solid red;
}
strong{
    font-size: 1.5em;
    padding: 2px;
}

#toe{
    margin-top: 8px;
}
#usblogs{
    margin-top: 12px;
}
.pp{
       overflow: hidden;
}
#pp1{
       overflow: hidden;
}
#comment{
       overflow: hidden;
}
#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}
.cap{
    text-transform: capitalize;
}
/*#content {*/
/*		min-height: 100px;*/
/*		}*/
.ui.grid{
		padding: 0 !important;
		}
.pushable.segment{
		margin: 0 !important;
		}
		iframe{
		    display: inline-block;
		}